/* Ajustes principais para centralizar e alinhar a animação */
.animationDiv {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  overflow: hidden;
}

/* Nuvens */
.cloudanimation {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: moveBackgroundCloud 20s linear infinite;
  opacity: 0.6;
}

.cloud1, .cloud2, .cloud3, .cloud4 {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.cloud1 {
  background-image: url('../assets/cloud1.png');
  width: 100vw;
  height: 10vh;
  top: 15vh;
  left: 2vw;
}

.cloud2 {
  background-image: url('../assets/cloud2.png');
  width: 100vw;
  height: 10vh;
  top: 29vh;
  left: 22vw;
}

.cloud3 {
  background-image: url('../assets/cloud3.png');
  width: 100vw;
  height: 6vh;
  top: 12vh;
  left: 62vw;
}

.cloud4 {
  background-image: url('../assets/cloud3.png');
  width: 100vw;
  height: 6vh;
  top: 25vh;
  left: 82vw;
}

@keyframes moveBackgroundCloud {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Cidade */
.cityAnimation {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 30vh;
  display: flex;
  overflow: hidden;
  animation: moveBackgroundCity 20s linear infinite;
}

.city1, .city2 {
  background-repeat: repeat-x;
  background-size: contain;
}

.city1 {
  background-image: url('../assets/city1.png');
  width: 100vw;
  height: 30vh;
  animation: moveBackgroundCity 20s linear infinite;
}

.city2 {
  background-image: url('../assets/city2.png');
  width: 100vw;
  height: 30vh;
  animation: moveBackgroundCity 10s linear infinite;
}

@keyframes moveBackgroundCity {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Semáforo */
.trafficlight {
  position: absolute;
  top: 5vh;
  left: 16.5vw;
  background: #222;
  background-image: linear-gradient(transparent 2%, #111 2%, transparent 3%, #111 30%);
  width: 250px;
  height: 10vh;
  border-radius: 20px;
  border: solid 5px #333;
  z-index: 2;
}

.trafficlight::before,
.trafficlight::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 70px;
  background-color: #333;
  top: -35%;
  transform: translateY(-50%);
  border-radius: 5px;
}

.trafficlight::before {
  left: 30px;
}

.trafficlight::after {
  right: 30px;
}

.red, .yellow, .green {
  width: 40px;
  height: 5vh;
  border-radius: 50%;
  position: absolute;
  top: 3vh;
  box-shadow: 0 0 20px #111 inset, 0 0 10px;
}

.red {
  background-color: red;
  left: 20px;
  animation: redLight 13s infinite;
}

.yellow {
  background-color: yellow;
  left: 105px;
  animation: yellowLight 13s infinite;
}

.green {
  background-color: green;
  left: 190px;
  animation: greenLight 13s infinite;
}

@keyframes redLight {
  0%, 20%, 40% { opacity: 1; }
  60%, 80%, 100% { opacity: 0.1; }
}

@keyframes yellowLight {
  0%, 20%, 40%, 50%, 60%, 80%, 100% { opacity: 0.1; }
  40% { opacity: 1; }
}

@keyframes greenLight {
  0%, 20%, 40%, 83%, 89%, 96%, 100% { opacity: 0.1; }
  60%, 80%, 86%, 93% { opacity: 1; }
}

/* Pausa de animação */
.paused, .paused::before, .paused::after {
  animation-play-state: paused;
}
