.app-container {
  background-color: #FFC44D; /* Cor de fundo amarelo */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
}

.main-screen {
  text-align: center;
}

.logo-container img {
  width: 200px;
  margin-bottom: 20px;
}

.login-button, .help-button {
  background-color: #EE4D4D; /* Cor vermelha */
  color: white;
  border: none;
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
}

.settings-button img {
  width: 40px;
  cursor: pointer;
}

h1 {
  font-size: 48px;
  color: #EE4D4D;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #FFFFFF;
}

.buttons {
  margin-top: 30px;
}

.settings-button {
  margin-top: 20px;
  background: transparent;
  border: none;
}

.login-link {
  color: white;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.help-button {
  background-color: #EE4D4D;
  border-radius: 8px;
}

.login-button, .help-button {
  background-color: #EE4D4D; /* Mesma cor vermelha */
  color: white;
  border: none;
  padding: 15px 30px;  /* Mesmo tamanho de padding */
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  width: 150px; /* Define o mesmo tamanho de largura */
}

.login-link {
  color: white;
  background-color: #EE4D4D; /* Adicionar a cor de fundo */
  padding: 15px 30px; /* Aplicar o mesmo padding para consistência */
  margin-top: 10px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
}

.login-link:hover {
  background-color: #D94B4B; /* Um leve efeito de hover para feedback visual */
}
