/* src/styles/modern-reset.css */
/* Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%; /* 1rem = 16px */
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  line-height: 1.5;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
