

.home-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffc94d; 
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px; 
  
  .logo-image {
    width: 300px; 
  }
}
  
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 20px; 
  }
  
  .menu-button {
    background-color: #f74440; 
    color: #ffffff;
    border: none;
    padding: 10px 40px; 
    font-size: 1.5rem;
    border-radius: 20px; 
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%); 
    cursor: pointer;
    transition: transform 0.2s; 
    font-family: 'Arial', sans-serif; 
  }
  
  .menu-button:hover {
    transform: scale(1.1); 
  }
  
  .settings-icon {
    width: 60px; 
    margin-top: 20px; 
    cursor: pointer;
    margin-left:2.5rem ;
}