.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px){
    .game-logo{
        widht: 300px;
    }
}


.game-logo {
    width: 500px; /* Ajuste o tamanho da logo conforme necessário */
}
