.logged-in-container {
    background-color: #FF684D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    color: black;
}

.user-name {
    color: #FFC44D;
}

.header-icons {
    display: flex;
}

.icon-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.profile-section {
    text-align: center;
    margin: 20px 0;
}

.avatar {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 10px;
}

.avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.account-level {
    font-size: 14px;
    color: white;
}

.upgrade {
    color: #FFC44D;
    cursor: pointer;
}

.action-buttons {
    margin: 20px 0;
}

.create-button, .join-button {
    background-color: #EE4D4D;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    width: 220px;
}

.remaining-matches {
    text-align: center;
}

.match-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
}

.full {
    background-color: #FFC44D;
}

.empty {
    background-color: #FFFFFF;
}
